[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = git@github.com:flazz/vim-colorschemes.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git@github.com:scrooloose/nerdtree.git
[submodule "bundle/jedi"]
	path = bundle/jedi
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "bundle/vim-json"]
	path = bundle/vim-json
	url = git@github.com:elzr/vim-json
[submodule "bundle/mine/ftplugin/rust.vim"]
	path = bundle/mine/ftplugin/rust.vim
	url = git@github.com:rust-lang/rust.vim
